@import url(@unocss/reset/tailwind.css);
@import url(./fonts.css);

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.login {
  background: url('@/assets/images/login.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}